* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.wrapper {
  background-image: url(images/background.jpg);
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}

.todo-container {
  width: 800px;
  text-align: center;
  background-color: transparent;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 1);
  max-width: 500px;
  margin: 0 auto;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transition: transform 0.3s ease-in-out;
}

.todo-container:hover {
  transform: scale(1.02);
}
.heading {
  height: 60px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.heading h1 {
  color: #e9d9c2;
  margin-top: 0;
  font-weight: 800;
  text-shadow: 0 4px 20px rgba(0, 0, 0, 1);
  margin-top: 20px;
}

.section1 {
  width: 90%;
  height: 100px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: transparent;
  margin-bottom: 30px;
}

.section1 input {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #e9d9c2;
  width: 80%;
  padding: 3px 0px;
  margin: 30px 0px 20px 0px;
  outline: none;
  text-transform: capitalize;
  color: white;
}

.section1 button {
  padding: 8px 50px;
  outline: none;
  background-color: #efba00;
  border-radius: 5px;
  border: 1px solid #efba00;
  color: #492d26;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.section1 button:hover {
  color: #e9d9c2;
  background-color: transparent;
  border: 1px solid #e9d9c2;
}
.section2 {
  width: 90%;
  height: auto;
  border-radius: 20px;
  background-color: transparent;
  margin-bottom: 20px;
  display: none;
}
.section2-heading {
  display: flex;
  justify-content: space-between;
  padding: 16px 50px;
  background-color: transparent;
  margin-top: 20px;

  padding: 16px 30px;
}
.section2-heading h3 {
  font-size: 20px;
  font-weight: 600;
  color: #e9d9c2;
}
.section2-heading h3:last-child {
  margin-right: 30px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
  overflow-y: scroll;
  max-height: 400px;
}

li {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 16px 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 1);
  margin: 20px 10px 20px 0;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  text-transform: capitalize;
}

li button {
  color: #492d26;
  background-color: #efba00;
  border: none;
  height: 40px;
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

li button:hover {
  border: 1px solid #e9d9c2;
  background-color: transparent;
  color: #e9d9c2;
  font-weight: bold;
}
